#loginBox{
	background-color: lightblue;
	margin-left: 37em;
	margin-right: 37em;
	box-shadow: 12px 12px rgba(0,0,0,0.3);
	text-align: center;
	
}

.noMarginBottom{
	margin-bottom: 2px;
}
.noMarginTop{
	margin-top: 2px;
}

body{
	margin-top: 0em;
	background: url(LandingPagePhoto.jpg);
	background-size: cover;	
}

h2{
	color: rgb(229, 255, 0);
	text-shadow: 2px 2px 5px black;
	font-family: Bradley Hand, cursive;
	font-size: 2em;
	text-decoration: underline black 0.1em;
}

#logo{
	height: 7em;
	position: absolute;
	left: 0em;
	margin-right: 0em;
}

#topMargin{
	color: rgb(229, 255, 0);
	text-align: center;
	font-weight: bold;
	text-shadow: 2px 2px 5px black;
	font-size: 5em;
	background-color: lightblue;
	height: 1.7em;
	box-shadow: 12px 12px rgba(0,0,0,0.3)

}