#loginBox{
	background-color: white;
	margin-left: 37em;
	margin-right: 37em;
	box-shadow: 12px 12px rgba(0,0,0,0.3);
	text-align: center;
	
}

.noMarginBottom{
	margin-bottom: 2px;
}
.noMarginTop{
	margin-top: 2px;
}

body{
	background: url(LandingPagePhoto.jpg);
	background-size: cover;
	
}

h1{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 5em;
}

h2{
	color: rgb(200,0,0);
	font-family: Bradley Hand, cursive;
	font-size: 2em;
	text-decoration: underline black 0.1em;
}

