@media only screen and (min-device-width : 360px) and (max-device-width : 640px){
	.newAccountAndLoginPageBox{
		background-color: lightblue;
		margin-left: 5vw;
		margin-right: 5vw;
		margin-top: 15vh;
		height: 50vh;
		box-shadow: 12px 12px rgba(0,0,0,0.3);
		text-align: center;
		font-size: 5vmin;
	}
	#topMargin{
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgb(229, 255, 0);
		text-align: center;
		font-weight: bold;
		vertical-align: middle;
		text-shadow: 2px 2px 5px black;
		font-size: 8vmin;
		background-color: lightblue;
		box-shadow: 12px 12px rgba(0,0,0,0.3);
		height: 8vh;
	}
	.inputBox{
		height: 3vh;
		font-size: 4vmin; 
	}
	#logo{
		position: absolute;
		margin: 0%;
		height: 7%;
		width: 14%;
	}
}

@media only screen and (min-device-width : 640px){
	.newAccountAndLoginPageBox{
		background-color: lightblue;
		margin-left: 24vw;
		margin-right: 24vw;
		margin-top: 10vh;
		box-shadow: 12px 12px rgba(0,0,0,0.3);
		text-align: center;
		font-size: 2.5vmin;
	}
	#topMargin{
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgb(229, 255, 0);
		text-align: center;
		font-weight: bold;
		vertical-align: middle;
		text-shadow: 2px 2px 5px black;
		font-size: 8vmin;
		background-color: lightblue;
		box-shadow: 12px 12px rgba(0,0,0,0.3);
		height: 15vh;
	}
	.inputBox{
		height: 3vh;
		font-size: 2.5vmin; 
	}
	#logo{
		position: absolute;
		height: 13%;
		width: 13%;
		margin: 0%;
	}
}
	
body{
	margin-top: 0em;
}
.buttonStyling{
	border-radius: 50%; 
	color: yellow;
	background-color: rgb(234, 153, 153);  
	font-size: 0.5em;
	border: 0.05em solid black;
}

