body{
    background: url(newAccountPagePhoto.jpg);
    background-size: cover;
}

h1{
    text-align: center;
    margin-top: 1.7em;
    font-size: 3em;
}

.usernamePasswordText{
    font-size: 1.5em;
    text-align: center;

}

.usernamePasswordBox{
    text-align: center;
    border: 50px;
}